extends layout

block content
  h1= 							title
  p 					Bienvenido a #{title}
  p 		Le presentamos a la mejor tienda de comercio electronico!!!
  p 		Pase por aqui para ver las listas de catalogos que tenemos!!!!
